body,
html {
  height: 100%;
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

/* body {
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-80%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.frame {
  height: 100%;
  padding: 0 11.75vw 0 11.75vw; /* topo | direita | inferior | esquerda */
}

header nav#nav-computer {
  flex: 1;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

header nav#nav-computer ul {
  list-style-type: none;
}

header nav#nav-computer ul li {
  margin: 0 50px;
}

header nav#nav-computer ul li a {
  color: white;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

header nav#nav-computer button {
  height: 40px;
  width: 165px;
  background: rgba(80, 240, 240, 0.05);
  border: 1px solid #50f0f0;
  border-radius: 5px;
  cursor: pointer;
  color: #50f0f0;
  margin-left: 50px;
  transition: 0.4s;
}

header nav#nav-computer button:hover {
  background: rgba(80, 240, 240, 0.2);
}

header nav#nav-computer ul li:nth-last-child(1) {
  margin-right: 0;
}

header nav#nav-computer p a {
  color: #c8c8c8;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

.flex-end {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/*  */

#section-nav-mobile {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #eeeeee;
  display: none;
  border-top: 1px solid gray;
}

section#section-nav-mobile header nav {
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
}

section#section-nav-mobile header nav ul {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-right: 40px;
}

section#section-nav-mobile header nav ul li a {
  color: black;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: 2px;
  width: 100%;
}

div.frame-about {
  flex: 1;
  height: auto;
  margin-block: 6.75em;
}

div.frame-about p,
h2 {
  color: white;
}

div.frame-about p:first-child {
  color: #50f0f0;
  font-weight: 500;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

div.frame-about p:last-child {
  color: #c8c8c8;
}

div.frame-about p:last-child i {
  color: #50f0f0;
}

div.frame-about h2 {
  font-weight: 700;
  font-size: 45px;
  margin: 0;
}

div.frame-about h2:nth-child(3) {
  color: #c8c8c8;
}

#my-projects h2:first-child {
  font-size: 35px;
  color: #c8c8c8;
  display: flex;
  margin: 0;
}

#my-projects div.title-project p {
  margin: 0;
  padding: 0;
  margin-left: 50px;
  color: #50f0f0;
  text-align: center;
}

#my-projects div.title-project p a {
  color: #50f0f0;
}

#my-projects div.title-project {
  display: flex;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

#project-cards {
  margin-top: 62px;
  margin-bottom: 6.75em;
  flex: 1;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row;
  gap: 62px;
}

.card {
  width: 282px;
  height: auto;
  background-color: #f0f0f0;
  padding: 30px;
}

.card .icons {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.card .icons div {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.card .icons div i {
  font-size: 32px;
  color: #6e6e81;
}

.hero-frame-card {
  flex: 1;
  margin-block: 60px;
  height: auto;
}

.hero-frame-card h2 {
  font-size: 25px;
  color: #282850;
  margin: 0;
}

.hero-frame-card p {
  font-size: 17px;
  color: #63636d;
}

.langs p {
  margin: 0;

  font-size: 17px;
  color: #63636d;
}

/*  */

#about-me h2:first-child {
  font-weight: 700;
  font-size: 35px;
  color: #c8c8c8;
  margin-bottom: 62px;
}

#about-me div:first-child {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.card-about-me {
  flex: 1;
  width: 400px;
  height: 504px;
  background-color: red;
  display: flex;
  justify-self: center;
}

#section-about-details {
  flex: 1;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.hero-about-details {
  width: 400px;
  padding: 30px;
  height: auto;
  background-color: #f0f0f0;
  padding-bottom: 5px;
}

.hero-about-details img {
  width: 125px;
  height: 124px;
  border-radius: 62px;
  margin: auto;
  display: block;
  margin-bottom: 45px;
  overflow: hidden;
  outline: 62px solid rgba(40, 40, 80, 0.4) !important;
  outline-offset: -100px;
  transition: 0.4s;
}

.hero-about-details img:hover {
  outline: 0px solid transparent !important;
  outline-offset: -100px;
}

.hero-about-details h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  color: #282850;
}

.hero-about-details h3 {
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #1c1c1c;
}

.hero-about-details p {
  font-size: 16px;
  line-height: 19px;

  color: #63636d;
}

.hero-about-details p > b,
a {
  color: #282850;
}

.icons-about-details {
  width: 43%;
  height: 40px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  margin-block: 45px;
}

.icons-about-details i {
  background: rgba(110, 110, 129, 0.1);
  text-align: center;
  color: #6e6e81;
  font-size: 20px;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.icons-about-details i:hover {
  background: rgba(110, 110, 129, 0.3);
}

#section-about-details > div > form > button {
  width: 100%;
  height: 40px;
  border: 0px transparent;
  background: #282850;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#section-about-details > div > form > button > p {
  font-size: 16px;
  /* identical to box height */
  color: #eeeeee;
}
#tilte-about-details,
.tilte-about-details {
  font-size: 35px;
  color: #c8c8c8;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-bottom: 62px;
}
@media (max-width: 975px) {
  #project-cards {
    justify-content: center;
  }
}

@media (max-width: 957px) {
  header nav#nav-computer ul li {
    display: none;
  }
}

@media (max-width: 750px) {
  div.title-project p {
    margin: 0;
  }
  #my-projects > div > p {
    margin-left: 0 !important;
  }
  #my-projects div.title-project title-project {
    justify-content: center;
  }
  #tilte-about-details {
    justify-content: center;
  }
}

@media (max-width: 692px) {
  #my-projects div.title-project {
    justify-content: center;
  }
}

@media (max-width: 459px) {
  #section-nav-mobile {
    display: block;
  }
}

@media (max-width: 412px) {
  header nav#nav-computer button {
    width: 60px;
  }
}

@media (max-width: 352px) {
  #section-about-details > div > div {
    width: 60%;
  }
}

@media (max-width: 347px) {
  header nav#nav-computer button {
    display: none;
  }
}

@media (max-width: 271px) {
  section#section-nav-mobile header nav ul li:nth-last-child(2) {
    display: none;
  }
}
